<div class="serieslistContent otherPage ">
    <div class="serieslistwrapper row small-up-2 medium-up-3 large-up-4 expanded">
<h2>Sermon Series:</h2>
        <div class="serieslistItem column">
            <div class="serieslistItem__thumbnail">
            <a href="#">
            <img src="http://placehold.it/560x315?text=sermons+graphic" alt="">
            </a>
            <h4><a href="#">Series Title</a></h4>
            </div><!--/serieslistitem__thumbnail-->
            </div><!--/serieslistItem-->
        <div class="serieslistItem column">
            <div class="serieslistItem__thumbnail">
            <a href="#">
            <img src="http://placehold.it/560x315?text=sermons+graphic" alt="">
            </a>
            <h4><a href="#">Series Title</a></h4>
            </div><!--/serieslistitem__thumbnail-->
            </div><!--/serieslistItem-->
        <div class="serieslistItem column">
            <div class="serieslistItem__thumbnail">
            <a href="#">
            <img src="http://placehold.it/560x315?text=sermons+graphic" alt="">
            </a>
            <h4><a href="#">Series Title</a></h4>
            </div><!--/serieslistitem__thumbnail-->
            </div><!--/serieslistItem-->
        <div class="serieslistItem column">
            <div class="serieslistItem__thumbnail">
            <a href="#">
            <img src="http://placehold.it/560x315?text=sermons+graphic" alt="">
            </a>
            <h4><a href="#">Series Title</a></h4>
            </div><!--/serieslistitem__thumbnail-->
            </div><!--/serieslistItem-->
        <div class="serieslistItem column">
            <div class="serieslistItem__thumbnail">
            <a href="#">
            <img src="http://placehold.it/560x315?text=sermons+graphic" alt="">
            </a>
            <h4><a href="#">Series Title</a></h4>
            </div><!--/serieslistitem__thumbnail-->
            </div><!--/serieslistItem-->
        <div class="serieslistItem column">
            <div class="serieslistItem__thumbnail">
            <a href="#">
            <img src="http://placehold.it/560x315?text=sermons+graphic" alt="">
            </a>
            <h4><a href="#">Series Title</a></h4>
            </div><!--/serieslistitem__thumbnail-->
            </div><!--/serieslistItem-->
        <div class="serieslistItem column">
            <div class="serieslistItem__thumbnail">
            <a href="#">
            <img src="http://placehold.it/560x315?text=sermons+graphic" alt="">
            </a>
            <h4><a href="#">Series Title</a></h4>
            </div><!--/serieslistitem__thumbnail-->
            </div><!--/serieslistItem-->
        <div class="serieslistItem column">
            <div class="serieslistItem__thumbnail">
            <a href="#">
            <img src="http://placehold.it/560x315?text=sermons+graphic" alt="">
            </a>
            <h4><a href="#">Series Title</a></h4>
            </div><!--/serieslistitem__thumbnail-->
            </div><!--/serieslistItem-->
            </div><!--/serieslistwrapper-->
</div><!--/serieslistContent-->